
// Colors

$colorPrimary: #e1e0e1;
$colorBtn: #20ab50;


//Fonts

$fontPrimary: 'Yantramanav', sans-serif;
$fontTitle: 'Nunito', sans-serif;

$spacing: 1rem;

$break-small:   480px;
$break-medium:  768px;
$break-large:   980px;
$break-huge:   1400px;